mat-progress-spinner {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.redirect {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 0.9rem;

  a {
    font-weight: 500;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
