<div class="container">
  <mat-card class="main-modal">
    <mat-card-header>
      <mat-card-title>Alterar perfil</mat-card-title>
      <div class="modal-icons">
        <app-theme-switch></app-theme-switch>
        <mat-icon (click)="closePage()">close</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        class="action"
        color="accent"
        (click)="removeProfilePhoto()"
        [disabled]="!user?.profilePhoto">
        Remover Foto de Perfil
      </button>
      <button
        mat-raised-button
        class="action"
        color="warn"
        (click)="deleteAccount()">
        Excluir Conta
      </button>

      <form [formGroup]="form">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-error *ngIf="form.get('name')?.hasError('required')">
              Campo obrigatório
            </mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('minlength')">
              Nome inválido
            </mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
              Nome muito grande, máximo até 100 caracteres
            </mat-error>
          </mat-form-field>
        </div>

        <button
          class="submit"
          mat-raised-button
          type="submit"
          color="primary"
          (click)="onSubmit()"
          [disabled]="!form.valid"
          #submitButton>
          {{ isRegistering ? 'Salvando...' : 'Salvar alterações' }}
          <mat-progress-spinner
            *ngIf="isRegistering"
            mode="indeterminate"
            color="accent"
            diameter="15"></mat-progress-spinner>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
