<ng-template matStepperIcon="home">
  <mat-icon fontIcon="home" aria-label="home icon" aria-hidden="false">home</mat-icon>
</ng-template>

<mat-stepper>
  <mat-step state="home" label="Home" editable="false" completed="false">
    <section class="welcome-page">
      <div class="container-img">
        <img src="assets/images/logo.png" alt="bookcase logo">
      </div>
      <h1 class="title">Bookcase</h1>
      <p class="description">Store, share and retrieve all your adventures in one place</p>
      <button class="btn-primary" mat-button matStepperNext>Get Started</button>
    </section>
  </mat-step>

  <mat-step label="Register" state="edit">
    <section class="register-page">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <input type="text" id="firstName">
              <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s4">
              <input type="text" id="lastName">
              <label for="lastName">Last Name</label>
            </div>
            <div class="input-field col s4">
              <input type="text" class="datepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="password" id="password">
              <label for="password">Create a password</label>
              <mat-icon class="eye-icon prefix">remove_red_eye</mat-icon>
            </div>
            <div class="input-field col s6">
              <input type="password" id="repeatedPassword">
              <label for="repeatedPassword">Repeat the password</label>
              <mat-icon class="eye-icon prefix">remove_red_eye</mat-icon>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="email" id="email">
              <label for="email">Type your email</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <button type="submit" class="btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </mat-step>
</mat-stepper>