app-search-books {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

app-search-results {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
