.panel-container {
  min-height: 100dvh;
}

.panel-actions {
  position: absolute;
  display: flex;
  gap: 20px;
  right: 1rem;
  transform: scale(1);
  cursor: pointer;

  app-theme-switch {
    position: relative;
    top: 2px;
  }
}

.user-panel {
  display: flex;
  margin-top: 2rem;
  margin-left: 5rem;
}

.profile-label {
  position: relative;

  &::after {
    content: 'Alterar';
    position: absolute;
    bottom: 2.1rem;
    left: 8px;
    color: #fff;
    padding: 0.2rem 0;
    width: 86%;
    background-color: rgba($color: #000, $alpha: 0.8);
    text-align: center;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 4;
  }

  &:hover::after {
    opacity: 1;
    cursor: pointer;
  }
}

input[type='file'] {
  display: none;
}

.user-info {
  margin-left: 2rem;

  .name {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .email {
    margin: 0;
    margin-top: 0.6rem;
    font-weight: 200;
  }

  .edit {
    margin-top: 1rem;
  }
}

.user-books {
  margin-left: 5rem;

  h1 {
    margin-top: 1.2rem;
  }
}

.profile-image {
  height: 100%;
  cursor: pointer;
}

.image-container {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}

.favorite-books {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  transition: 0.3s;
}

.no-books {
  height: 30dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 60dvw;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 3rem;
}
