<mat-toolbar class="navbar">
  <span class="title">Bookcase</span>

  <app-theme-switch class="theme-switch"></app-theme-switch>

  <div class="user-profile">
    <figure>
      <div class="image-container">
        <img
          appUpdateProfilePhoto
          [isDark]="isDark"
          [pathImage]="user?.profilePhoto"
          alt="imagem do usuário com moldura hexagonal" />
      </div>
      <figcaption (click)="goToUserPanel()">{{ user?.name }}</figcaption>
    </figure>
  </div>
</mat-toolbar>
