@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
  --text-color: #fff;
  --primary-color: #7b1fa2;
  --border-radius: 5px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
