@use '@angular/material' as mat;

@include mat.core();

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map-get(
    $map: $color-config,
    $key: 'primary',
  );
  $accent-palette: map-get(
    $map: $color-config,
    $key: 'accent',
  );

  .bg-primary {
    background-color: mat.get-color-from-palette($primary-palette);
  }

  .color-primary {
    color: mat.get-color-from-palette($primary-palette);
  }

  .bg-accent {
    background-color: mat.get-color-from-palette($accent-palette);
  }

  .color-accent {
    color: mat.get-color-from-palette($accent-palette);
  }

  .focus-primary {
    &:focus,
    &:hover {
      border: 2px solid mat.get-color-from-palette($primary-palette);
      cursor: pointer;
    }
  }
}

$app-dark-primary: mat.define-palette(mat.$pink-palette);
$app-dark-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
    ),
  )
);

$app-light-primary: mat.define-palette(mat.$deep-purple-palette);
$app-light-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-light-primary,
      accent: $app-light-accent,
    ),
  )
);

@include mat.core-theme($app-light-theme);
@include mat.button-theme($app-light-theme);
@include mat.card-theme($app-light-theme);
@include mat.form-field-theme($app-light-theme);
@include mat.input-theme($app-light-theme);
@include mat.progress-spinner-theme($app-light-theme);
@include mat.progress-bar-theme($app-light-theme);
@include color($app-light-theme);

.dark-theme {
  @include mat.core-color($app-dark-theme);
  @include mat.button-color($app-dark-theme);
  @include mat.card-color($app-dark-theme);
  @include mat.form-field-color($app-dark-theme);
  @include mat.input-color($app-dark-theme);
  @include mat.progress-spinner-color($app-dark-theme);
  @include mat.progress-bar-color($app-dark-theme);
  @include color($app-dark-theme);

  background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url('assets/images/background.jpg');
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: url('assets/images/background.jpg');
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.success-snackbar {
  background-color: #4caf50;
  border-radius: 5px;
  color: #fff;
}

.error-snackbar {
  background-color: #f44336;
  border-radius: 5px;
  color: #fff;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-container {
  width: 60%;
  padding: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 0.5rem;

  .title {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1.5rem;
    left: 3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
  }

  mat-form-field {
    width: 40dvw;

    .show-password {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  .switch-theme {
    position: absolute;
    right: 3rem;
    top: 2rem;
  }

  button[type='submit'] {
    width: 20%;
    padding: 1.2rem;
  }
}

.redirect {
  margin: 0 auto;
  margin-top: 15px;
  font-size: 0.9rem;

  a {
    font-weight: 500;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
